Repository ddanielsantos/rust-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:c, rustfmt --edition=2021

refactor: move form up one level
  apps/frontend/src/components/PaymentSelection/PaymentSelection.tsx
Due: pnpm format:c

feat: add shipping components to checkout page
  apps/frontend/pages/checkout/index.tsx
  apps/frontend/src/components/AddAddressModal/AddAddressModal.tsx
  apps/frontend/src/components/ShippingAddressSelection/ShippingAddressSelection.tsx
Due: pnpm format:c

feat: move form up and add submit button
  apps/frontend/pages/checkout/index.tsx
Due: pnpm format:c

feat: select shipping address (#30)
  apps/frontend/pages/checkout/index.tsx
  apps/frontend/src/components/AddAddressModal/AddAddressModal.tsx
  apps/frontend/src/components/PaymentSelection/PaymentSelection.tsx
  apps/frontend/src/components/ShippingAddressSelection/ShippingAddressSelection.tsx
Due: pnpm format:c

style(checkout): modal stuff
  apps/frontend/src/components/AddAddressModal/AddAddressModal.tsx
  apps/frontend/src/components/AddCardModal/AddCardModal.tsx
  apps/frontend/src/ui/Dialog.tsx
  apps/frontend/src/ui/Input.tsx
  apps/frontend/src/ui/Label.tsx
  apps/frontend/src/ui/globalStyle.ts
Due: pnpm format:c

style(checkout): decouple and style link
  apps/frontend/src/components/CartTotalSum/CartTotalSum.tsx
  apps/frontend/src/components/Header/Header.tsx
  apps/frontend/src/ui/Link.tsx
  apps/frontend/src/ui/index.tsx
Due: pnpm format:c

style(checkout): selected item
  apps/frontend/src/components/PaymentSelection/PaymentSelection.tsx
  apps/frontend/src/components/ShippingAddressSelection/ShippingAddressSelection.tsx
Due: pnpm format:c

chore(checkout): minimal tweaks
  apps/frontend/pages/cart/index.tsx
  apps/frontend/pages/checkout/index.tsx
  apps/frontend/src/ui/Select.tsx
  apps/frontend/src/ui/Text.tsx
Due: pnpm format:c

style: checkout (#31)
  apps/frontend/pages/cart/index.tsx
  apps/frontend/pages/checkout/index.tsx
  apps/frontend/src/components/AddAddressModal/AddAddressModal.tsx
  apps/frontend/src/components/AddCardModal/AddCardModal.tsx
  apps/frontend/src/components/CartTotalSum/CartTotalSum.tsx
  apps/frontend/src/components/Header/Header.tsx
  apps/frontend/src/components/PaymentSelection/PaymentSelection.tsx
  apps/frontend/src/components/ShippingAddressSelection/ShippingAddressSelection.tsx
  apps/frontend/src/ui/Dialog.tsx
  apps/frontend/src/ui/Input.tsx
  apps/frontend/src/ui/Label.tsx
  apps/frontend/src/ui/Link.tsx
  apps/frontend/src/ui/Select.tsx
  apps/frontend/src/ui/Text.tsx
  apps/frontend/src/ui/globalStyle.ts
  apps/frontend/src/ui/index.tsx
Due: pnpm format:c

feat(server): add utoipa
  apps/backend/Cargo.lock
  apps/backend/Cargo.toml
Due: none

feat(server): add OpenAPI documentation
  apps/backend/src/main.rs
  apps/backend/src/routes/mod.rs
  apps/backend/src/routes/product.rs
Due: rustfmt --edition=2021

feat(server): add openapi and swagger (#32)
  apps/backend/Cargo.lock
  apps/backend/Cargo.toml
  apps/backend/src/main.rs
  apps/backend/src/routes/mod.rs
  apps/backend/src/routes/product.rs
Due: rustfmt --edition=2021

ci: add dependabot
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
Due: none

ci(dependabot): add config for npm
  .github/dependabot.yml
Due: none

feat: dependabot (#33)
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
Due: none

ci: fix token
  .github/workflows/auto-merge.yml
Due: none

refactor(repo): change dependabot for renovate
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  renovate.json
Due: none

refactor(repo): change dependabot for renovate (#42)
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  renovate.json
Due: none

refacto(server): change to SQLx
  apps/backend/.env.example
  apps/backend/Cargo.lock
  apps/backend/Cargo.toml
  apps/backend/diesel.toml
  apps/backend/src/db/migrations/.keep
  apps/backend/src/db/migrations/2022-10-16-022252_create_products/down.sql
  apps/backend/src/db/migrations/2022-10-16-022252_create_products/up.sql
  apps/backend/src/main.rs
Due: rustfmt --edition=2021

refacto(server): change to SQLx (#49)
  apps/backend/.env.example
  apps/backend/Cargo.lock
  apps/backend/Cargo.toml
  apps/backend/diesel.toml
  apps/backend/src/db/migrations/.keep
  apps/backend/src/db/migrations/2022-10-16-022252_create_products/down.sql
  apps/backend/src/db/migrations/2022-10-16-022252_create_products/up.sql
  apps/backend/src/main.rs
Due: rustfmt --edition=2021

chore(server): testing deps
  apps/backend/Cargo.lock
  apps/backend/Cargo.toml
Due: none

feat(server): error struct
  apps/backend/src/error.rs
Due: rustfmt --edition=2021

feat(routes): create customer wip
  apps/backend/src/routes/customer.rs
  apps/backend/src/routes/mod.rs
  apps/backend/src/routes/product.rs
Due: rustfmt --edition=2021

refacor(db): diesel to sqlx, migrations
  apps/backend/build.rs
  apps/backend/src/main.rs
  apps/backend/src/migrations/20221207130730_customers_table.down.sql
  apps/backend/src/migrations/20221207130730_customers_table.up.sql
  apps/backend/src/schema.rs
Due: rustfmt --edition=2021

update backend test workflow
  .github/workflows/test-on-pr.yml
Due: none

fix(server): cors layer (#59)
  apps/backend/Cargo.lock
  apps/backend/Cargo.toml
  apps/backend/src/cors.rs
  apps/backend/src/main.rs
Due: rustfmt --edition=2021

feat(web): add customer create page (#60)
  apps/frontend/package.json
  apps/frontend/pages/customer/create/index.tsx
  apps/frontend/src/components/customer/CustomerCreateForm.tsx
  apps/frontend/src/config/index.ts
  apps/frontend/src/context/Providers.tsx
  apps/frontend/src/ui/Button.tsx
  apps/frontend/src/ui/Input.tsx
  apps/frontend/src/ui/index.tsx
  apps/frontend/src/utils/useMutation.tsx
  pnpm-lock.yaml
Due: pnpm format:c

feat(server): add tower http
  apps/backend/Cargo.lock
  apps/backend/Cargo.toml
Due: none

fix(server): cors
  apps/backend/src/cors.rs
  apps/backend/src/main.rs
Due: rustfmt --edition=2021

chore(deps): add form deps
  apps/frontend/package.json
  pnpm-lock.yaml
Due: none

feat(ui): add controlled input
  apps/frontend/src/ui/Input.tsx
  apps/frontend/src/ui/index.tsx
Due: pnpm format:c

feat(utils): add mutation wrapper
  apps/frontend/src/utils/useMutation.tsx
Due: pnpm format:c

feat(FE): add customer create
  apps/frontend/pages/customer/create/index.tsx
  apps/frontend/src/components/customer/CustomerCreateForm.tsx
  apps/frontend/src/config/index.ts
  apps/frontend/src/context/Providers.tsx
  apps/frontend/src/ui/Button.tsx
Due: pnpm format:c

chore: fix lock
  pnpm-lock.yaml
Due: none

fix(docker): pass DATABASE_URL so the macros can expand
  apps/backend/Dockerfile
Due: none

fix: sqlx offline mode (#64)
  apps/backend/Cargo.lock
  apps/backend/Cargo.toml
  apps/backend/Dockerfile
  apps/backend/sqlx-data.json
Due: none

Revert "fix: sqlx offline mode (#64)"
  apps/backend/Cargo.lock
  apps/backend/Cargo.toml
  apps/backend/Dockerfile
  apps/backend/sqlx-data.json
Due: none

Path conditions:
  pnpm format:c: any of: *.{ts,tsx}
  rustfmt --edition=2021: any of: *.rs
